@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.app-storescard-container{
  width: 250px;
  height: 300px;
  border-radius:15px;
  background: lightgray 50% / cover no-repeat;
  position: relative;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  color:white;
  cursor:pointer;
    &:hover {
    background-color: grey;
    transform: scale(1.05);
    box-shadow: 0 0 10px grey;
  }
}

.app-storescard-container:hover .app-storescard-header-text{
  display:none;
}

.app-storescard-container:hover .app-storescard-header-text-animation{
  display:flex;
  gap:20px;
  background-color: #FA6619;
  border-radius:10px;
  margin-top:20px;
  padding-left:10px;
  padding-right:10px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  animation: slideUpbutton 0.3s ease-in-out forwards;
}

.appstores-text-hidden{
  display:none;
  text-align: center;
  line-height:30px;
}

.app-storescard-container:hover .appstores-text-hidden{
  display:block;
  animation: slideUp 0.3s ease-in-out forwards;
}

@keyframes slideUp {
  from { transform: translateY(0); }
  to { transform: translateY(-10px); }
}

@keyframes slideUpbutton {
  from { transform: translateY(0); }
  to { transform: translateY(-10px); }
}

.app-storescards-stars-container{
  border-radius: 15.393px;
  background-color: #FA6619;
  display: flex;
  justifiy-content: center;
  align-items: center;
  position: relative;
  max-width: 80px;
  height: 40px;
  margin-left:20px;
  margin-top:20px;
  padding:10px;

}

.app-storescards-stars-container p {
    padding:10px;
    color: white;
    position:absolute;
    margin-left: 15px;
    margin-top: 18px;
}

.storescards-star{
    display: flex;
    color: white;
}

.app-storescard-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-storescard-header-text{
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.app-storescard-text{
  display: flex;
  justifiy-content: center;
  align-items: center;
  position: relative;
}

.storescards-icon{
    display: flex;
    color: white;
    font-size: 25px;
}

.app-storescard-ends{
      color: rgba(255, 255, 255, 0.76);
  font-family: Inter;
  font-size: 14.291px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items:center;
}
