@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.offercard-big-container {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px grey;
  }
}

.offerpage-container {
  position: relative;
  height: 260px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-left:-2px;
}

.offercardpage-headerimg {
  position: absolute;
  top: 8px;
  left: 8px;
  max-width: 70px;
  max-height: 70px;
  border-radius:50%;
}

.offerpage-discount {
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 35px;
  font-weight: 800;
}

.offerpage-content {
  padding: 16px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.offerpage-name1 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.offerpage-flex {
  display: flex;
  justify-content: space-around;
  gap:20px;
  align-items: center;
  margin-top:-10px;
  margin-bottom:-10px;
}

.offerpage-stars {
  display: flex;
  align-items: center;
  color: #f5c518;
  gap:10px;
}

.offerpage-ratings {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.offerpage-name2 {
  font-size: 14px;
  color: #777;
  margin-bottom: 16px;
}

.pageoffer-buttons{
  position: relative;
  &:hover {
    .offerpage-button{
      opacity: 0;
    }
    .offercard-button-hover{
      opacity: 1;
    }
  }
}

.offerpage-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #FA6619;
  border-radius:13px;
  padding:6px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  position: relative;
  z-index: 1;
  &:hover {
    background-color: #F85A13;
    transform: scale(1.05);
  }
}

.offercard-button-hover{
  color: #FFF;
  font-family: Inter;
  font-size: 21.457px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 200px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 13.228px;
  background: #FA6619;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  &:hover {
    background-color: rgba(245, 93, 0, 1);
    transform: scale(1.05);
  }
}

.offerpage-currency {
  font-size: 16px;
  font-weight: bold;
  margin-right: 8px;
  color: white;
}

.offerpage-beforeprice {
  font-size: 14px;
  color: #B6B6B6;
  text-decoration: line-through black;
  text-decoration-color:black;
  margin-right: 8px;
}

.offerpage-afterprice {
  font-size: 18px;
  font-weight: bold;
  color: white;
}
