.contact-container {
    font-family: 'Inter', Arial, sans-serif;
    color: #333;
}

.profileheader {
    margin-bottom: 30px;
}

.contact-content {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-content h2 {
    color: #FA6619;
    font-family: Cairo;
    font-size: 66.667px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    border-left: 5px black solid;
    padding-left: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: left;
}

.contact-icon {
    font-size: 8em;
    color: #FA6619;
    margin-right: 15px;
}

.contact-info {
    flex-grow: 1;
}

.contact-info h3 {
    color: #000;
    font-family: Cairo;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-info p {
    color: #000;
    font-family: Cairo;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: -30px;
}

.commitment-section {
    margin-top: 30px;
}

.commitment-section h2 {
    font-size: 1.8em;
    color: #FA6619;
    margin-bottom: 15px;
}

.commitment-section p {
    font-size: 1.2em;
    line-height: 1.6;
}

.contact-line {
    border: 1px #ccc solid;
    width: 100%;
}

.we-flexx{
    padding-left:200px;
    padding-right:200px;
}
