@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

.storeheader-container {
    padding: 20px;
    background: linear-gradient(to right, #CC000000, rgba(10, 10, 10, 0.21));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: -36px;
    display:flex;
    font-family: Cairo;
}

.storeheader-header {
    display: flex;
    flex-direction: row;
    align-items:center;
}

.storeheader-path {
    font-size:24px;
    color: #555;
    margin-right:400px;
    font-weight: 700;
    margin-left:20px;
}

.storeheader-content {
    display: flex;
    margin-left: -200px;

}

.storeheader-img {
    width: 164px;
    height: 164px;
    border-radius: 12px;
    margin-right: 20px;
}

.storeheader-details {
    flex: 1;
    display: flex;
    align-items:center;
    margin-bottom:-20px;
}

.storeheader-details h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
    margin-bottom:-20px;
    margin-top:-20px;
}

.storeheader-details p {
color: rgba(0, 0, 0, 0.50);
font-family: Cairo;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
width:500px;
}

.storeheader-details p span {
    margin-left: 10px;
    color: #888;
}

.storeheader-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap:10px;
}

.storeheader-rating-stars {
    color: #747474;
    display:flex;
    gap:7px;
    font-size:20px;
}

.storeheader-rating .fa-star,
.storeheader-rating .fa-star-half-alt {
    color: #ffcc00;
    margin-right: 5px;
}

.storeheader-rating span {
    margin-left: 5px;
    color: #888;
}

.storeheader-icons {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left:30px;
}

.storeheader-icons svg {
    margin-right: 10px;
    color: #ff4500;
    cursor: pointer;
    font-size: 30px;
}

.storeheader-flex{
    display:flex;
    flex-direction:column;
}

.store-header-flex2{
    display: flex;
    flex-direction:column;
    padding-right:50px;
}

.heart-store{
    margin-top:-20px;
}
