.appdownload-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding:200px;
}

.appdownload-img-phone {
  position: absolute;
  top: 350px;
  right: 0px;
  min-width: 85%;
  max-width: 100%;
  height: 150% !important;
  object-fit: cover;
  z-index:10;
  margin-top: -500px;
  margin-right:-100px;
  padding:-200px;
}

@media (min-width: 1460px){
  .review-container{
    padding-top:100px;
  }
}

.appdownload-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100vw;
  background-color: #FA6619;
  display:flex;
  justify-content:space-between;
  min-height: 400px;
}

.appdownload-find,
.appdownload-links{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    margin-left:30px;
}

.appdownload-text1,
.appdownload-text2,
.appdownload-text3{
    margin-top: -5px;
    margin-bottom: -5px;
    padding: 10px;
}

.appdownload-text1{
  color: #FFF;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.appdownload-text2{
  color: #FAFF00;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.appdownload-text3{
  color: #FFF;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.appdownload-discount {
  display: flex;
  width: 512px;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  margin-top: 0px;
  margin-right:130px;
  align-self: stretch;
}

.appdownload-discount-text {
  color: rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 80px;
  line-height: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -10px;
  margin-bottom: -10px;
  align-self: stretch;
}

.phone-animation {
  animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


