.profile-container {
    font-family: Arial, sans-serif;
}

.profile-second-container {
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    padding: 20px;
    width: 100%;
}

.profile-content {
    display: flex;
    flex-direction:row;
    width: 100vw;
    max-width: 6100px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.profileheader{
    margin-top:100px;
}

.profile-left {
    width: 15%;
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center;
}

.profile-left .pfp {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.profile-left .profile-email,
.profile-left .profile-phone {
    margin: 10px 0;
    font-size: 14px;
    color: #555;
}

.profile-left .profile-logout {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #FA6619;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
      &:hover {
        background-color: red;
        transform: scale(1.05);
        box-shadow: 0 0 10px #F85A13;
  }
}

.profile-statics {
    margin-top: 20px;
}

.profile-line {
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.profile-details-content{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}

.profile-details-content p {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
      &:hover {
        color: #FA6619;
  }
}

.profile-details-content p svg {
    margin-right: 10px;
}

.profile-right {
    width: 85%;
    padding: 20px;
}

.profile-right h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.slide-bar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color:#F3F3F3;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.slide-bar p {
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
    transition: border-bottom 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.slide-bar p:hover,
.slide-bar p.active {
    border-bottom: 2px solid #FA6619;
    color: #FA6619;
}

.profile-offerslider{
  display:flex;
  justify-content:center;
  align-items:center;
}
