.app-container {
  background-color: #f0f0f0;
  overflow-y: auto;
  padding-bottom: 50px;
  height: 100vh;
  display: grid;
  position:relative;
  overflow-x: hidden;
}

.navigation {
  z-index: 100000;
  position: sticky;
  height: 100%;
  height: 100vh;
  overflow-y: auto;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: absolute;
  left:90px;
}

.content1 {
  padding-right: 70px;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-top-text1 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 45.478px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.UKspan {
  color: #000;
  font-family: Inter;
  font-size: 45.478px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.app-top-text2 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 22.739px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.select-container {
  position: relative;
  display:flex;
  justify-content:center;
  align-items: center;
}

.select-icon {
  position: absolute;
  left: 10px;
  pointer-events: none;
  z-index: 1;
}

.select-icon2 {
  position: absolute;
  right: 20px;
  pointer-events: none;
  z-index: 1;
}


.select-icon2.rotate {
  animation: rotate 0.5s ease-in-out;
  transform: rotate(180deg);
}

.select-icon2.close {
  animation: rotate2 0.5s ease-in-out;
  transform: rotate(0deg);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate2 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}


.select {
  padding: 10px 10px 10px 40px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  appearance: none;
  background-size: 12px;
  margin-right: 10px;
  background-color: white;
}

.input-text {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  width: 200px;
}

.form-elements input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  width: 600px;
}


button.app-top-submitbtn {
  padding: 0px 10px 0px 10px;
  background: #FA6619; ;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.app-top-submitbtn:hover {
  background-color: rgba(245, 93, 0, 1);
}

.app-top-text3 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 22.739px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.form-elements{
  display:flex;
}

.slideshow-container{
  display: flex;
  justify-content:center;
  align-items:center;
  padding: 20px;
  position: relative;
}

.app-offers-container{
  padding:40px;
}

.app-offercards{
  display:flex;
  gap: 30px;
  justify-content:center;
  align-items:center;
}

.app-topoffers{
  padding-left:90px;
}

.AppcouponsCardslide{
  max-height: 450px;
}

@media (max-width: 1000px) {
  input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  width: 200px;
}

.slideshow-container{
    display:none;
  }

  .app-topoffers{
  padding-left:0px;
}

}

.app-discount-container{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 100%), #FA6619;
  width: 100vw;
  max-height: 1000px;
}

.app-viewmore-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color:white;
  padding-right: 20px;
}

.app-viewmore{
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

.stores-arrow {
  border: solid  black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

.app-storescards-viewmore{
    color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.app-topdiscounts{
  color: #FFF;
  font-family: Inter;
  font-size: 47.4px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding :13px;
}

.app-discount-header{
  display: flex;
  justify-content: space-between;
}

.AppdiscountCardslide{
  display: flex;
}

.app-storescards {
  width: 100vw;
  max-height: 1000px;
  padding: 20px;
  z-index:110;
}

.app-storescards-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.app-storescards-header-h2 {
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 47.4px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 13px;
  margin: -5;
  text-align: left;
}

.app-storescards-header-text {
  max-width: 700px;
  margin-top: -60px;
  color: #767474;
  font-family: Inter;
  font-size: 19.191px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.app-stores-viewmore-container {
  position: absolute;
  top: 0;
  right: 20px;
  top:60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-storescards-viewmore {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.app-viewmore-arrow {
  display: flex;
  align-items: center;
}

.stores-arrow.right {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.app-stores-slidercards {
  display: flex;
}

.app-stores-slidercards{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:20px;
}

.app-download{
    position: relative;
  z-index: 15;
}

.app-newws{
  z-index: 1;
  position: sticky;
  height: 100%;
  height: 100vh;
  overflow-y: auto;
}

.app-select-icon2 {
  pointer-events: none;
  z-index: 1;
}

.app-select-icon2.rotate {
  animation: rotate 0.5s ease-in-out;
  transform: rotate(180deg);
}

.app-select-icon2.close {
  animation: rotate2 0.5s ease-in-out;
  transform: rotate(0deg);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate2 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.app-select-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width:130px;
}

.blog-wee{
}

.app-blog-container {
  position: relative;
  text-align: center;
  color: white;
  width: 100vw;
  margin-left:-40px;
  margin-top:40px;
  height: 516px;
  background-image:
  linear-gradient(rgba(255, 255, 0, 0.5), #FA6619),
  url("/GO-OFFER/shooping.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  align-items:center;
  font-family: Inter;
}

.app-blog-header-text {
  font-size: 2em;
  font-weight: bold;
}

.app-blog-span {
  color: yellow;
}

.blog-wee p {
  font-size: 1.2em;
  margin-top:-10px;
  margin-bottom:40px;
}

.app-blog-button {
  appearance: button;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #fff, #f8eedb);
  border: 0 solid #e5e7eb;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #482307;
  column-gap: 1rem;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 100%;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  outline: 2px solid transparent;
  padding: 1rem 3rem;
  text-align: center;
  text-transform: none;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px #F85A13;
    }
}

.app-blog-button:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
  transform: translateY(0.125rem);
}

.app-blog-button:focus {
  box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
}
