@import url('https://fonts.cdnfonts.com/css/revamped');

.footer-container {
  background-color: #ffffff;
  padding: 10px;
  font-weight: 600;
  width: 100vw;
  bottom: 0;
}

.footer-flex{
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: row;
  min-height: 20px;
  justify-content: space-between;
}

.footer-social {
  margin-bottom: 20px;
}

.footer-logoText {
  font-size: 50px;
  font-weight: bold;
  font-family: revamped;
}

.footer-socialIcons {
  margin-top: 10px;
  padding: 5px;
}

.footer-socialIcons > * {
  margin-right: 30px;
  font-size: 24px;
}

.footer-socialText {
  font-size: 14px;
  max-width: 300px; 
  word-wrap: break-word; 
}

.footer-about,
.footer-support,
.footer-compare,
.footer-resources {
  margin-bottom: 20px;
}

.footer-link {
  display: block;
  color: #333; 
  text-decoration: none;
  margin-bottom: 5px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-line {
  border: none;
  border-top: 1px solid #555;
  margin: 20px 0;
}

.footer-copyrights {
  display:flex;
  align-items:center;
  justify-content: center;
}



@media (max-width: 768px) {
  .footer-container {
    padding: 10px;
  }

  .footer-flex{
    background-color: #ffffff;
    padding: 20px;
    padding-bottom:10px;
    display: flex;
    flex-direction: column;
  }

   .footer-social{
    background-color: #ffffff;
    padding: 20px;
    padding-bottom:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
