@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

.mostappheader-container {
    background: linear-gradient(to right, #CC000000, rgba(10, 10, 10, 0.21));
    width: 100vw;
    margin-top: -36px;
    display: flex;
    gap: 100px;
    align-items: center;
    font-family: Cairo;
    margin-top:-40px;
}

.mostappheader-header {
    margin-left: 50px;
}

.mostappheader-core {
    margin-top: 0px;
}

.mostappheader-path {
    margin-top: -8px;
}

.mostappheader-name {
    font-weight: 700;
}

.mostappheader-pathcore {
    margin-top: -20px;
}

.path-segment.green {
    color: rgba(0, 0, 0, 0.45);
}

.path-segment.black {
    color: black;
}
