.slide-image {
  width: 500px;
  height: 300px;
  border-radius: 15px;
  position: relative;
}

.slider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slider-button {
  color: #FA6619;
  font-size: 35px;
  transform: translateY(-50%);
  z-index: 2;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider-button.prev {
  left: 20px;
}

.slider-button.next {
  right: 20px;
}


.slide-image-prev{
  width: 250px;
  height: 200px;
  left: 80px;
  position: relative;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    &:hover {
    background-color: #F85A13;
    transform: scale(1.05);
    box-shadow: 0 0 10px grey;
  }
}

.slide-image-next{
  width: 250px;
  height: 200px;
  right: 80px;
  position: relative;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    &:hover {
    background-color: #F85A13;
    transform: scale(1.05);
    box-shadow: 0 0 10px grey;
  }
}

.slide-image{
  width: 700px;
  height: 400px;
  z-index: 1;
  position: relative;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    &:hover {
    background-color: #F85A13;
    transform: scale(1.05);
    box-shadow: 0 0 10px grey;
  }
}

.hidden{
  display:none;
}

