@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

.offercard-container{
  width: 240px;
  border-radius:15px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  overflow: hidden;
  background-size: cover;
  background-color:black;
    &:hover {
    background: black;
    transform: scale(1.05);
    box-shadow: 0 0 10px black;
    background-image: none !important;
  }
}

.offercard-headerimg {
  border-radius: 50%;
  margin-left: 45px;
  margin-top: 25px;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
  z-index:99999;
}

.offercard-container img.offercard-headerimg {
  transition: transform 0.3s ease-in-out;
}

.offercard-container:hover img.offercard-headerimg {
  transform: translateX(100%);
}

.offercard-header-text-hidden {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  font-family: "Cairo", sans-serif;
  text-align: center;
  font-weight:500;
}

.offercard-container:hover .offercard-header-text-hidden {
  opacity: 0;
  display: none;
}

.offercard-header-text-hover {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: none;
}

.offercard-container:hover .offercard-header-text-hover {
  color:white;
  display:block;
  text-align: center;
}

@keyframes slideUp {
  from { transform: translateY(0); }
  to { transform: translateY(-10px); }
}

.offercard-header-text-hover {
  opacity: 0;
  display: none;
  animation: slideUp 0.3s ease-in-out forwards;
}

.offercard-container:hover .offercard-button {
  animation: slideUpbutton 0.3s ease-in-out forwards;
}

@keyframes slideUpbutton {
  from { transform: translateY(0); }
  to { transform: translateY(-10px); }
}


.offercard-container:hover .offercard-header-text-hover {
  opacity: 1;
  color: white;
  display: block;
}



.offercard-header-text{
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 5.8px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.offercard-header-text-hidden{
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 5.8px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.offercard-discount{
  color: #FA6619;
}

.offercard-button{
  color: #FFF;
  font-family: Inter;
  font-size: 21.457px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 136.689px;
  height: 47.4px;
  flex-shrink: 0;
  border-radius: 13.228px;
  background: #FA6619;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    &:hover {
    background-color: rgba(245, 93, 0, 1);
    transform: scale(1.05);
  }
}

.clock{
  color: red;
}

.offercard-ends{
  color: rgba(255, 255, 255, 0.76);
  font-family: Inter;
  font-size: 14.291px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items:center;
}

.offercard-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
