.slider-flex{
  display: flex;
  justify-content:center;
  align-items:center;
}

.slider-wrapper{
  display:flex;
  flex-direction: column;
  gap: 30px;
  justify-content:center;
  align-items:center;
}

.slider-content {
  display:flex;
  gap: 30px;
  justify-content:center;
  align-items:center;
}

.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slider-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.slider-dot.active {
  background-color: #000;
}

.slider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}


.discountslider-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.discountslider-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.discountslider-dot.active {
  background-color: yellow;
}

.discountslider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.discountslider-button.next{
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.discountslider-button.prev{
  color: white;
  font-size: 30px;
  cursor: pointer;
}
