@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.appCouponscards-container{
  border-radius: 9.302px;
  border: 0.93px solid #FA6619;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 450px;
  max-height: 250px;
  flex-wrap: nowrap;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #F85A13;
    }
}

.appCouponscards-item{
    min-width: 450px ;
  max-height: 250px;
}

.appCouponscards-headerimg{
    boder-radius: 50%;
    padding: 15px;
}

.appCouponscards-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.appCouponscards-text{
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.605px;
  display:flex;
  flex-wrap: nowrap;
  list-style-type: circle;
}


.BsDot{
   font-size: 23px;
}

.appCouponscards-discount{
  color: #FA6619;
  font-family: Inter;
  font-size: 30.589px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.984px;
  padding: 15px;
}

.appCouponscards-ending{
    display:flex;
    justify-content: center;
    align-items: center;
}

.appCouponscards-span{
    color: #FA6619;
}

.appCouponscards-ending-button{
    color: #FA6619;
    font-size:35px;
    cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    &:hover {
    transform: scale(1.05)
    }
}

.appCouponscards-ending-button:hover {
  color: rgba(245, 93, 0, 1);
}

.appCouponscards-ending {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.appCouponscards-ending-text {
  grid-column: 1;
  margin-top: 10px;
}

.appCouponscards-ending-button {
  grid-column: 2;
}





