.review-container{
    width: 100vw;
    background-color: black;
    color: white;
    padding: 30px;
    display: flex;
}

.review-header{
    display: flex;
    flex-direction: column;
}

.review-header-maintext{
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.review-header-text{
  color: #ACACAC;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.review-header-statics{
    display:flex;
    justify-content:space-around;
    align-content:center;
}

.review-header-number{
  color: #FA6619;
  font-family: Cairo;
  font-size: 39.336px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.review-header-number-title{
  color: #FFF;
  font-family: Cairo;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: -55px;
}

.review-flex{
    display: flex;
    justify-content:center;
    align-items:center;
}

.review-main{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    gap: 50px;
}

.review-stars{
  display: inline-flex;
  align-items: center;
  gap: 19.137px;
  font-size:30px;
}

.review-name{
  color: #FA6619;
  font-family: Inter;
  font-size: 25.616px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.review-text{
  color: #FFF;
  font-family: Inter;
  font-size: 14.779px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
